body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
   }
   #sidebar {
    background-color: #007bff;
    min-width: 290px;
    max-width: 290px;
    min-height: 100%;
    color: white;
    transition: all 0.3s;
    
   }
   #sidebar.collapsed {
    max-width: 60px;
    min-width: 60px;
   }
   #sidebar .nav-link {
    color: white;
   }
   #sidebar .nav-link span {
    margin-left: 10px;
   }
   #sidebar.collapsed .nav-link span {
    display: none;
   }
   #content {
    flex-grow: 1;
    padding: 20px;
   }
   #toggle-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
   }
   #toggle-btn:hover {
    color: #ffffffb3;
   }
   #toggle-icon {
    transition: transform 0.3s;
   }
   #sidebar.collapsed #toggle-icon {
    transform: rotate(180deg);
   }
   #btn-inSesion
   {
    background-color: transparent;
    flex-direction: column;
    border-color: transparent;
    padding-left: 45%;
   }
   #FormInput1
   {
    width: 75%;
    margin-top: 10px;
   }
   #FormInput2
   {
    width: 75%;
    margin-top: 10px;
   }
   #Form1
   {
    justify-items: center;
    text-align: center;
   }
   #Form0{
    margin-top: 10px;
   }
   #I1{
    font-size: 300%;
   }
   #FormBtn1{
    margin-top: 10px;
    background-color: #28c03ae8;
   }
   #main{
    margin-top: 4.5%;
    margin-bottom:5% ;
    margin-left: 5%;
    padding-left: 0%;
    width: 70%;
    display: flexbox;
   }
  

   #lst-btn-1{
    color: white;
   }
   #Lst1{
    margin-top: 35%;
   }

   .btn-form{
    margin-top: 10px;
   }
   #FormGroup1{
    margin-top: 30px;
   }
  .btn-eliminar{
    
    padding: 0%;
    margin-left: 90%;
    
  }
